input{
    background-color: #ffffff;;

font-size : 38px;
text-align: end;
}
.clear{
    width:100px;
    
}
.container{
    text-align: center;
    margin-top:23px ;
}

table{
    margin: auto;
}

.calculator{
    background-color: #dae0e4;
    padding:15px;
    border-radius: 5px;
    border: 10px solid rgb(255, 255, 255);
    display: inline-block;
    height:425px;
    
}
button{
border-radius: 0px;
font-size: 40px;
background: #ffffff;
width: 88px;
height: 55px;
margin: 8px;
}